/* Common styles for both jumbotron and cards */
.jumbotron {
  background-color: #000205;
  padding: 2rem;
  height: 80vh;
}

.card {
  padding-left: 10rem;
  margin-bottom: 1rem;
}

.card-link {
  margin-right: 1rem;
  padding-bottom: 3rem;
}

/* Media Queries */
@media (max-width: 768px) {
  .jumbotron {
    height: auto;
  }

  .card {
    padding-left: 2rem; /* Adjust as needed for smaller screens */
  }

  .card-link {
    padding-bottom: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card {
    padding-left: 5rem;
  }

  .card-link {
    padding-bottom: 2rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .card {
    padding-left: 7rem;
  }

  .card-link {
    padding-bottom: 2.5rem;
  }
}

@media (min-width: 1281px) {
  /* No additional styling for extra-large screens */
}
